html {
    font-family: Arial, sans;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.title {
    font-size: 40px;
    text-align: center;
}
#navigation {
    text-align: center;
}
#navigation li {
    display: inline;
    padding: 10px;
}
.center {
    text-align: center;
}
